services:

  server:
    image: ourlink/mintsolo:latest@sha256:e8ecdfa70c4d0935b20d59e0d731ebda1b6c53531dee5f0842ee82f1da942398
    restart: unless-stopped
    ports:
      - 3067:3067/tcp
      - 3068:3068/tcp
    volumes:
      - ${APP_DATA_DIR}/data/database:/mintsolo/DB
    environment:
      NODE_ENV: production
      BITCOIN_RPC_URL: http://${APP_BITCOIN_NODE_IP}
      BITCOIN_RPC_USER: ${APP_BITCOIN_RPC_USER}
      BITCOIN_RPC_PASSWORD: ${APP_BITCOIN_RPC_PASS}
      BITCOIN_RPC_PORT: ${APP_BITCOIN_RPC_PORT}
      DEV_FEE_ADDRESS: 13hHuBNEkwdnzSVB9aczAY4Nc9FT987qeL
      BITCOIN_RPC_TIMEOUT: 10000
      STRATUM_PORT: 3067
      API_PORT: 3068
      NETWORK: mainnet
      API_SECURE: false
      ENABLE_SOLO: true
      ENABLE_PROXY: false
      POOL_IDENTIFIER: MintSolo Umbrel
  zrok-init:
    image: busybox:latest
    command: chown -Rc 2171:2171 /mnt/
    user: root
    volumes:
      - zrok_env:/mnt
  zrok-enable:
    image: docker.io/openziti/zrok:latest
    depends_on:
      zrok-init:
        condition: service_completed_successfully
    entrypoint: zrok-enable.bash
    volumes:
      - zrok_env:/mnt
    environment:
      HOME: /mnt
      ZROK_ENABLE_TOKEN: bkybwCNplgYv
      ZROK_API_ENDPOINT: https://zrok.shared.mintsolo.app
      ZROK_ENVIRONMENT_NAME: null
  zrok-share:
    image: docker.io/openziti/zrok:latest
    restart: unless-stopped
    entrypoint: zrok-share.bash
    depends_on:
      zrok-enable:
        condition: service_completed_successfully
    volumes:
      - zrok_env:/mnt
    environment:
      HOME: /mnt
      ZROK_BACKEND_MODE: proxy
      ZROK_TARGET: http://server:3068
      ZROK_INSECURE: null
      PFXLOG_NO_JSON: "true"
  mintsolo-intro:
    image: ourlink/mintsolo-intro:latest@sha256:96d2af58fc97c1b2f96b6dcd3fc4c72dbb1a1b2559e356819232bc702d5df4b8
    ports:
      - 3069:80
    volumes:
      - zrok_env:/mnt
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - --quiet
        - --tries=1
        - --spider
        - http://localhost/health
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

volumes:
  zrok_env: null

networks:
  mintpool:
    external: true
